.attended-row {
    background-color: #f0f0f0; /* Color gris para filas atendidas */
}

.status-legend {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
}

.status-dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.green {
    background-color: green;
}

.orange {
    background-color: orange;
}

.red {
    background-color: red;
}
.gray {
    background-color: rgb(62, 62, 62);
}
