.col-cods {
    width: 10%;
}

.col-descripcions {
    width: 20%;
}

.col-horass {
    width: 10%;
}

.col-fechas {
    width: 15%;
}

.col-costos {
    width: 20%;
}

.col-accioness {
    width: 20%;
}
.custom-width {
    width: 400px; /* Ajusta a tu necesidad */
}