.col-id {
    width: 5%;
}

.col-descripcion {
    width: 25%;
}

.col-horas {
    width: 15%;
}

.col-fecha {
    width: 15%;
}

.col-costo {
    width: 10%;
}

.col-acciones {
    width: 30%;
}
.custom-width {
    width: 400px; /* Ajusta a tu necesidad */
}