.col-cedulas {
    width: 10%;
}

.col-nombress {
    width: 15%;
}

.col-apellidoss {
    width: 15%;
}

.col-accioness {
    width: 20%;
}

.title-card {
    font-size: 1rem;
    color: rgb(44, 44, 44);
    
}



