/* Header */
/* Sobrescribe el estilo de los botones de variante 'info' */
/* Sobrescribe el estilo de los botones de variante 'outline-info' */

body {
  background-color: #fdfdfd; /* Cambia este color por el que desees */
  font-family: Arial, Helvetica, sans-serif;
}



.btn-outline-info {
  color: #185da7 !important;            /* Color del texto y el borde */
  border-color: #185da7 !important;     /* Borde */
}

.btn-outline-info:hover {
  background-color: #3674b7 !important; /* Color de fondo al hacer hover */
  border-color: #185da7 !important;     /* Cambia el color del borde */
  color: white !important;              /* Color del texto al hacer hover */
}


.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.user-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Contenedor de los íconos */
.icon-container {
  display: flex;
  align-items: center;
  margin-right: 2px;
}

/* Círculo del Usuario */
.user-circle {
  position: relative;
  display: flex;
  flex-direction: column; /* Para alinear el texto y el rol en vertical */
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #185da7;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;
}

/* Inicial del Usuario dentro del círculo */
.user-initial {
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.user-role {
  margin-left: 0px; /* Ajusta el margen izquierdo para separar el rol del círculo */
  margin-right: 15px; /* Ajusta el margen derecho para separarlo de los íconos */
  font-weight: bold; /* Cambia a negrita */
  font-size: 14px; /* Tamaño de fuente ajustable según preferencia */
  color: #333; /* Color del texto */
  align-self: center; /* Asegura que esté alineado correctamente con los otros elementos */
}





/* Estilos del dropdown */
.dropdown-menu {
  position: absolute;
  top: auto;
  down:auto;
  
}
.dropdown-menux {
  position: absolute;
  top: 5%;  /* Coloca el menú inmediatamente debajo del ícono */
  right: 0;  /* Alinea el menú a la derecha del contenedor */
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px;
  z-index: 1000;
  down:auto;
}

.logout-option {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  color: #333;
  font-size: 14px;
  font-weight: bold;
}
.logout-options {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  color: #5c5b5b;
  font-size: 12px;
  font-weight: bold;
}

.logout-option:hover {
  background-color: #f5f5f5; /* Efecto hover */
  color: #000;
}


/* Ajustar el sidebar para centrar el logo y hacerlo más ancho */
/* Estilo para el sidebar */
.sidebar {
  position: fixed; /* Sidebar fijo */
  left: 0;
  top: 0;
  height: 100%; /* Ocupa toda la altura de la pantalla */
  width: 200px; /* Ancho fijo del sidebar */
  background-color: #f9f9f9; /* Color de fondo */
  padding: 20px 10px; /* Ajusta el padding interno */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Sombras */
  z-index: 1000; /* Asegura que esté por encima del contenido principal */
  overflow-y: auto; /* Agrega scroll si es necesario */
}

/* Estilo para el contenido principal */
.content {
  margin-left: 200px; /* Ajusta el margen para que el contenido no se solape con el sidebar */
  padding: 10px 30px; /* Padding del contenido principal */
  position: relative;

}


/* Centrar el logo */
.sidebar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Espacio entre el logo y el contenido */
}

.sidebar .logo img {
  width: 160px; /* Ajustar el tamaño del logo */
}

/* Estilo de las letras en gris */
.sidebar ul li a {
  color: #404040; /* Letras en gris */
}

.sidebar ul li a:hover {
  color: rgb(102, 105, 110); /* Letras más oscuras al pasar el mouse */
}


.sidebar a.active {
  color: rgb(59, 59, 59); /* Color del texto cuando está activo */
  font-weight: bold; /* Opcional: hace el texto en negrita para resaltar */
}


.user-info {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.username {
  margin-right: 15px;
  font-weight: bold;
  color: #444444; /* Cambiado a blanco para mayor contraste */
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Estilos del encabezado */


/* Estilos del botón de menú */


/* Estado hover del botón de menú */
.menu-button:hover {
  color: rgb(255, 255, 255); 
  background-color: rgba(96, 94, 94, 0.2); 
} 



/* Estilos de los enlaces del sidebar */


/* Estado hover de los enlaces del sidebar */
.sidebar a:hover {
  background-color: rgba(57, 57, 57, 0.2); /* Color de fondo al pasar el cursor */
}

.sidebar a i {
  margin-right: 10px; /* Espacio entre el icono y el texto */
}




.sidebar ul {
  list-style-type: none; /* Remueve los marcadores de lista */
  padding: 0; /* Remueve el padding predeterminado */
  margin: 0; /* Remueve el margen predeterminado */
}

.sidebar li {
  padding: 10px 15px; /* Ajusta el padding para mejor alineamiento */
}

/* App.css */



.rounded-table {
  border-collapse: separate; /* Asegura que los bordes redondeados se apliquen correctamente */
  border-spacing: 0; /* Remueve el espaciado entre celdas */
  overflow: hidden; /* Asegura que los bordes redondeados se apliquen correctamente */
  border-radius: 16px; /* Bordes redondeados para la tabla */
}

.rounded-table th, .rounded-table td {
  border: 0.5px solid #dee2e6; /* Bordes internos de las celdas */
}

.rounded-table thead th {
  border-top: 0; /* Remueve borde superior de las cabeceras */
}

.rounded-table thead th:first-child {
  border-top-left-radius: 16px; /* Bordes redondeados para la primera celda de la cabecera */
}

.rounded-table thead th:last-child {
  border-top-right-radius: 16px; /* Bordes redondeados para la última celda de la cabecera */
}

.rounded-table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 16px; /* Bordes redondeados para la primera celda de la última fila */
}

.rounded-table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 16px; /* Bordes redondeados para la última celda de la última fila */
}



/* Estilo del botón del menú desplegable */
/* Estilo del botón del menú desplegable */
.dropdown-button {
  background: none;
  border: none;
  color: rgb(44, 44, 44);
  font-weight: 500;
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 3px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.3s ease, color 0.3s ease, border-radius 0.3s ease;
  border-radius: 20px;
}

/* Estilo del menú desplegable */
.dropdown-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  max-height: 0; /* Altura inicial 0 */
  opacity: 0;
}

/* Mostrar menú desplegable con animación */
.dropdown-menu.show {
  max-height: 600px; /* Altura suficiente para mostrar contenido */
  opacity: 1;
}

/* Transición y espacio para li que contiene el dropdown */
.sidebar li {
  transition: margin-bottom 0.2s ease;
}

.sidebar li.expanded {
  margin-bottom: 340px; /* Ajusta el espacio entre módulos cuando está expandido */
}


.dropdown-menu li {
  margin: 2px 0;
}

.dropdown-menu li a {
  color: rgb(193, 0, 0);
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0.01px 0;
  font-weight: 500;
}

.dropdown-menu li a i {
  margin-right: 10px;
}

.dropdown-menu li a:hover {
  background-color: rgba(57, 57, 57, 0.2);
  border-radius: 10px;
  padding-left: 5px;
}

.dropdown-menu {
  border: none;
  background-color: transparent;
  box-shadow: none;
}

.dropdown-menu.show {
  padding: 0;
  margin: 0;
  box-shadow: none;
}
.dropdown-button:hover {
  background-color: rgba(57, 57, 57, 0.2);
}

/* paginacion */

.pagination {
  display: flex;
  justify-content: flex;
  align-items: center;
  margin-top: 20px;
}

.pagination .page-item {
  margin: 0 5px;
}

.pagination .page-link {
  color: #007bff;
  background-color: white;
  border: 1px solid #3798ff;
  padding: 5ypx 14px;
  border-radius: 8px;
  transition: all 0.2s ease;
}

.pagination .page-link:hover {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.pagination .active .page-link {
  background-color: #088dda;
  color: white;
  border-color: #007bff;
}

.pagination .disabled .page-link {
  color: #6f7479;
  pointer-events: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.user-icon {
  color: #1c1c1c; /* Cambia este color al que desees */
  cursor: pointer;
  margin-left: 10px;
}



/* Cambiar el color de los botones de advertencia (warning) */
.btn.btn-warning {
  background-color: rgb(254, 185, 56) !important;
  border-color: rgb(254, 185, 56) !important;
  color: white !important;
}

.btn.btn-warning:hover {
  background-color: rgba(254, 185, 56, 0.9) !important;  /* Color en hover */
  border-color: rgba(254, 185, 56, 0.9) !important;
}

/* Cambiar el color de los botones de peligro (danger) */
.btn.btn-danger {
  background-color: rgb(255, 74, 74) !important;
  border-color: rgb(255, 74, 74) !important;
  color: white !important;
}

.btn.btn-danger:hover {
  background-color: rgba(255, 74, 74, 0.9) !important;  /* Color en hover */
  border-color: rgba(255, 74, 74, 0.9) !important;
}

/* Cambiar el color de los botones de éxito (success) */
.btn.btn-success {
  background-color: rgb(72, 205, 143) !important;
  border-color:rgb(72, 205, 143) !important;
  color: white !important;
}

.btn.btn-success:hover {
  background-color: rgba(48, 144, 99, 0.9) !important;  /* Color en hover */
  border-color: rgba(48, 144, 99, 0.9) !important;
}

.btn.btn-info {
  background-color: rgb(61, 128, 200) !important;
  border-color:   rgb(61, 128, 200) !important;
  color: white !important;
}
.btn.btn-info:hover {
  background-color: rgb(52, 110, 172) !important;  /* Color en hover */
  border-color:rgb(52, 110, 172) !important;  /* Color en hover */
}



/* Estilos para el botón */
.btn-custom {
  display: flex;
  align-items: center;
  background-color: rgb(69, 196, 137); /* Color del botón (verde) */
  border-color:rgb(69, 196, 137); /* Color del botón (verde) */
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.btn-custom:hover {
  background-color:rgb(58, 164, 114); /* Color del botón (verde) */
  border-color:rgb(58, 164, 114); /* Color del botón (verde) */
}

.btn-custom:active {
  background-color:rgb(58, 164, 114); /* Color del botón (verde) */
  border-color:rgb(58, 164, 114); /* Color del botón (verde) */
}

/* Estilos para el ícono dentro del botón */
.btn-icon {
  font-size: 24px; /* Tamaño del ícono */
  margin-right: 10px; /* Espacio entre el ícono y el texto */
  color: white;
}

/* Ajustes para hover y active (opcional) */
.btn-icon:hover {
  color: white; /* Mantener el color blanco en hover */
}

.page-title {
  font-size: 1.3rem;
  font-weight: regular;
  margin-right: auto;
  margin-left: 300px; /* Espaciado desde el borde izquierdo */
  color: #555555;
}


.icon-container .user-icon {
  background-color: #f5f5f5; /* Color de fondo del círculo */
  border-radius: 50%; /* Hace el fondo circular */
  width: 40px;  /* Ajusta el tamaño */
  height: 40px; /* Ajusta el tamaño */
  display: flex; /* Flexbox para centrar el contenido */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1.4rem; /* Tamaño del ícono */
  line-height: 1; /* Ajusta la altura de línea para centrar mejor */
}


.icon-container .user-icon:hover {
  background-color: #e0e0e0; /* Color de fondo al pasar el mouse */
}

.icon-container .user-icon i {
  font-size: 1.6rem;
  color: #666; /* Color del ícono */
}


.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Loader solo en el contenido */
.loader-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semi-transparente */
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}


.custom-gutter .row {
  gap: 0.5rem; /* Ajusta según lo que necesites */
}

.status-dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.green {
  background-color: rgb(48, 144, 99);
}

.orange {
  background-color: rgb(254, 185, 56);
}

.red {
  background-color: rgb(255, 74, 74);
}
.gray {
  background-color: rgb(62, 62, 62);
}
.blue {
  background-color: rgb(39, 87, 170);
}
.pink{

  background-color: #fc53c4;
}


.status-triangle {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 10px solid; /* Base del triángulo */
  display: inline-block;
  margin-right: 5px;
}

.status-triangle.not-finalized {
  border-bottom-color: orange; /* Color para "No Finalizado" */
}

.status-triangle.graduated {
  border-bottom-color: green; /* Color para "Egresado/Certificado" */
}

.status-triangle.withdrawn {
  border-bottom-color: red; /* Color para "Retirado" */
}


.small-label {
  font-size: 12px; /* Reduce el tamaño del texto */
  margin-bottom: 2px;
}
.small-input {
  width: 9%; /* Reduce el ancho */
}
.parent-container {
  overflow: visible !important;
}









